
body{
    text-align: center;
}
.main-container{
    background-color: rgb(207, 188, 225);
}
.btn-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.btn{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 10px;
    
}

.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}